* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

section {
    width: 50%;

    margin: auto;
    text-align: center;
    background-color: #644117;
    padding: 20px;
    color: white;
}


h1 {
    display: inline-block;
    color: yellow;

    width: 100%;

}

p {
    text-align: left;
}

h1:before,
h1:after {
    width: 40%;
    height: 1px;

    content: '';
    background: yellow;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

h1:before {
    right: 10px;

}

h1:after {
    left: 10px;
}